:root {
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --main-font-size: 14px;
    --primary-font-color: #212121;
    --secondary-font-color: #FFFFFF;
    --description-font-color: #757575;
    --accent-color: #2196F3;
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #2F303A;
    --background-color-additional: #F5F4FA; 
}